<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adding post</title>
</head>
<body>
<h1>add post</h1>
<form th:method="POST" th:action="@{/post/new}" th:object="${post}">
    <label>Title:</label><br/>
    <input type="text" field="*{title}" name="title"/><br/>

    <label>Description:</label><br/>
    <textarea rows="4" cols="50" field="*{description}" name="description"></textarea><br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>
